@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0 30px;
  font-family: 'Press Start 2P', cursive;
  background: black;
}
h1,h2,h3,h4 {
  font-weight: 500;
}
.App {
  font-size: 1.2em;
  margin: 10px auto;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000000;
  border-bottom: 1px dotted;
}
.site-header h1 {
  font-size: 1.5em;
  color: white;
  padding-bottom: 10px;
  border-bottom: 5px solid;
}
.site-header {
  text-align: center;
}

.review-card {
  background: white;
  margin: 60px auto;
  padding: 1px 20px 20px 90px;
  position: relative;
  border-radius: 1%;
}
.review-card .rating {
  position: absolute;
  top: -20px;
  left: -20px;
  background: #5c5353;
  font-size: 3em;
  width: 90px;
  height: 90px;
  text-align: center;
  color: white;
  
}
.review-card h2 {
  margin-bottom: 0;
}
.review-card small {
  margin-right: 10px;
  color: #777;
}

